/* Contact.css */

.contact-footer {
    background-color: rgba(34, 25, 25, 0.95); /* Set the background color of the footer */
    color: #fff; /* Set text color to white */
    padding: 40px 15vw; /* Padding on top and bottom */
    display: flex;
  }
  
  .contact-info,
  .social-media, cities {
    flex: 1;
  }
  
  .contact-info p,
  .social-media a {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .social-media a {
    text-decoration: none;
    display: block;
    color: #fff;
  }
  
  .cities-list-container {
    column-count: 2;
    max-width: 300px;

  }

  /*  make list two columns side */
  .cities-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }