/* App.css */

.app-container {
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.section {
  padding: 40px;
  background-color: #f9f9f9; /* Add a background color to distinguish sections */
  margin: 20px 0;
  border-radius: 8px; /* Add rounded corners to the sections */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  
  display: flex; /* Center items on the x-axis */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items on the y-axis */
}

.section h2 {
  font-size: 1.5em;
  color: #333;
}

.section p {
  font-size: 1.2em;
  color: #666;
}

.icon {
  margin: 8px;
}
